# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Node
node_modules/

# Server data
server/data.sqlite
server/data.sqlite-*
server/uploads/
server/.jwt_secret

# Env
.env
